#attachments {
  margin-bottom: 15px;

    .nested-fields {
      position: relative;
    }
    .field {
      padding-right: 20px;
    }
    .remove_fields {
      position: absolute;
      right: 0;
      top: 0;
    }
}