.comment {
  font-size: 12px;
  padding: 0.5em;
  border-top: 1px dotted;
  border-color: lightgray;

  &:first-child {
    margin-top: 10%;
    border-top: none;
  }

  &-form {
    padding: 1em 0;

    form {
      margin-top: 0.5em;
    }
  }

  &-delete {
    padding: 0 5px;
    margin-left: 5px;
    color: lightgray;
    opacity: .5;

    &:hover {
      color: lightgray;
      opacity: 1;
    }
  }
}
