#question_body, #question_title, #new-answer-form, #answer_body {
  border-radius: 5px;
  padding-left: 10px;
  background: whitesmoke;
}
.edit_question { display: none; }

.question-attachments {
  .attachments {
    background-color: #f7f7f7;
    padding-top: 5px;
    margin-top: 10px;
  }
}